////////// CORE ////////// 
body {
	background-color: lighten($tan, 2%);
}

h1, h2, h3 {

}

p {
	font-size: 1.2em;
}

.navbar-default {
	 @include alpha-attribute('background-color', rgba($purple, 0.95), black);
	 padding: 5px 0px;
	.navbar-nav {
		li {
			a {
				color: white;
			}
	 	}
	 }
}

////////// IMAGES ////////// 
.img-border {
	border: 4px solid $gray;
}

